ul.navigation {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color:dimgray;
}

ul.navigation li {
    float: left;
    border-right: 1px solid black;
}

ul.navigation li a {
    display: block;
    color:white;
    text-align: center;
    padding:14px 16px;
}
h1 {
    text-align:center;
}
footer {
    text-align:center;
}
